body {
  background-color: #666;
}

.overlay {
  background-color: #666;
  position: absolute;
  left: 25px;
  top: 50px;
  width: 440px;
  height: 250px;
  opacity: 0.8;
}

.hide {
  display: none;
}

.inputElem {
  width: 25px;
}